.concrete-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.concrete-service-description{
    display: flex;
    background-image: url("back2.jpg");
    background-size:100% 100%; 
    background-repeat: no-repeat;
    box-shadow: 0px 15px 10px -15px #111;
    margin: 30px 0 30px 0;
    color:aliceblue
}
.concrete-services{
    flex:1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 4rem;
    font-family: Papyrus;
}
.concrete-icon{
    position: relative;
    float: left;
    margin-right: auto;
}
.concrete-promise{
    flex: 2;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.concrete-promise p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2rem;
}
.steps-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.steps-card{
    display: flex;
    width:15000px;
    height:800px ;
    justify-content: center;

}
@media(max-width:1100px){
    .steps-card{
        flex-direction: column;
        height: fit-content;
    }
}
.steps-image{
    flex: 1;
    width:600px;
    height: 100%;
}
.steps-images img{
    flex:1;
    width: 598px;
    object-fit: cover;
    box-shadow: 0px 20px 10px -20px #111;
    margin-bottom: 0;
}
.steps-description{
    height: 800px;
    display: table;
    width: 800px;
}
.steps-description p{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background-image: linear-gradient(to bottom right,#233329,#63D471);
    border-radius:0px 6px 10px 10px;
}
.concrete-header{
    height: 60px;
    display: block;
    background-color:rgb(56, 53, 53);
    color:seagreen;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
    box-shadow: 10px 5px  5px seagreen;
}
.cright-arrow{
    position:absolute;
    right: 15%;
    font-size: 3rem;
    color:#000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .cleft-arrow{
    position:absolute;
    left: 15%;
    font-size: 3rem;
    color:#000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .concrete-container{
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  .concrete-container div{
    width: 550px;
  }
  .concrete-container img{
    height: 100%;
    width: 100%;
  }
  .center-description{
    display: flex;
    flex-direction: column;
    background-image:url("aesthetic-cement.jpg");
    background-repeat: no-repeat;
    justify-content: space-around;
    opacity: 0.9;
  }
  .center-description p{
    text-align:center; 
    font-weight: 400;
    font-size: 2rem;
    color: aliceblue;
    margin: 30px 5px 0px 5px;
  }
  



